.demo-card-wide.mdl-card {
    width: 95%;
    margin: 15px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 95%;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.item-title__primary {
    margin: 0;
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

.price-tag-fraction {
    margin: 0;
    font-size: 44px;
    line-height: 1;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

.short-description .item-conditions {
    font-size: 14px;
    color: #666;
}

.dropdown-quantity-available {
    margin-left: 8px;
    color: #acacac;
    font-size: 14px;
    font-weight: 400;
}